/*MASTER STYLES*/
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0px;

}

.container { /*set the display of the container class to grid and each column of size 1fr (100%)*/
    display: grid;
    grid-template-columns: 1fr;
}

/*NAV BAR STYLES*/
.nav-wrapper {
    display: flex; /*nav-wrapper class is gonna be next to other classes shoulder to shoulder*/
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div { /*apply style to all the divs under left-side*/
    margin-right: 20px; /*putting a 20px horizontal margin to the sub divs*/
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;   
}

.nav-link-wrapper a { /*select the "a link" in nav-link-wrapper*/
    color: #8a8a8a;
    text-decoration: none; /*remove the html underline in the hyperlinks*/
    transition: color 0.5s;
}

.nav-link-wrapper:hover { /*set the animation when the cursor hovers over the links*/
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid black;
}

.active-nav-link a{
    /* overwrite the default behaviour using !important */
    color: black !important;
}
/*PORTFOLIO STYLES*/

/* responsiveness design */
@media only screen and (min-width: 500px){
    .portfolio-items-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 600px){
    .portfolio-items-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1000px){
    .portfolio-items-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.portfolio-item-wrapper {
    position: relative; /*precondition to use position absolute in the following code*/
}

.portfolio-img-background {
    height: 350px; /*fixed height*/
    width: 100%; /*width adjusts automatically*/
    background-size: cover; /*cropping the size of the image to fit in the grid*/
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img { /*selecting the img in the logo-wrapper class*/
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent
}
/* only when it's at the hover stage will this perform*/
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: whitesmoke;
}

/* creating a new class for styling, need to call this in javascript for animation */
.img-darken { 
    transition: 1s;
    filter: brightness(10%);
}

/* About page style */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img{
    width:100%;
}

.profile-content-wrapper {
    padding: 30px;
}


/* index styling */
.fab > div { /*apply to all divs under fab*/
    width: 60px;
    height: 60px;
    /* background-color: rgb(199, 172, 172); */
    /* background-image: url('logo/work.png'); */
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    
    font-size: 50px;
    line-height: 70px;
    color: black;
    text-align: center;
    
    position: fixed;
    right: 50px;/*
    bottom: 50px; */
    
    transition: all 0.1s ease-in-out;
}
 
/* .fab:hover  > div {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
} */

.who_am_i_icon{
    bottom: 255px;
    background-image: url('logo/who_am_i_2.png');
    text-decoration: none;
}
.who_am_i_icon:hover{
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.past_projects_icon{
    bottom: 180px;
    background-image: url('logo/past_projects.png');
}
.past_projects_icon:hover{
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.work_experience_icon{
    bottom: 105px;
    background-image: url('logo/work_2.png');
}
.work_experience_icon:hover{
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.contact_icon{
    bottom: 30px;
    background-image: url('logo/contact_me.png');
}
.contact_icon:hover{
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}