/*MASTER STYLES*/
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0px;

}
:root{
    /* font choice */
    --ff-primary: 'Roboto Mono', monospace;
    --ff-secondary: 'Bebas Neue', cursive;
    
    /* font weight */
    --fw-reg: 300;
    --fw-bold: 900;

    /* colour */
    --clr-light: #fff;
    --clr-dark: #303030;
    /* --clr-accent: #16e0bd; */
    --clr-accent: #90CCF4;

    /* font size */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    /* box shadow */
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25);
          /* 0.125em 0.125em 0.25em rgba(0,0,0,0.15); */
}

.container { /*set the display of the container class to grid and each column of size 1fr (100%)*/
    display: grid;
    grid-template-columns: 1fr;
}

/*NAV BAR STYLES*/
.nav-wrapper {
    display: flex; /*nav-wrapper class is gonna be next to other classes shoulder to shoulder*/
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div { /*apply style to all the divs under left-side*/
    margin-right: 20px; /*putting a 20px horizontal margin to the sub divs*/
    font-size: var(--fs-h3);
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 29px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;   
}

.nav-link-wrapper a { /*select the "a link" in nav-link-wrapper*/
    color: #8a8a8a;
    text-decoration: none; /*remove the html underline in the hyperlinks*/
    transition: color 0.5s;
}

.nav-link-wrapper:hover { /*set the animation when the cursor hovers over the links*/
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid var(--clr-accent);
}

.active-nav-link a{
    /* overwrite the default behaviour using !important */
    color: var(--clr-accent) !important;
}
/*GALLERY STYLES*/

/* responsiveness design */
@media only screen and (min-width: 600px){
    .portfolio-items-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 700px){
    .portfolio-items-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1000px){
    .portfolio-items-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.portfolio-item-wrapper {
    position: relative; /*precondition to use position absolute in the following code*/
}


.gallery__img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

.gallery__img:hover {
    /* opacity: 0.7; */
    filter: brightness(50%);
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
